@font-face{
  font-family: 'Fafo';
  src: url("../fonts/Fafo\ Sans\ Bold.ttf");
}

@font-face{
  font-family: 'Motley';
  src: url("../fonts/Motley\ Forces.ttf")
}
h1, h3, h5 {
  font-family: "Motley", sans-serif;
}
h2, h4, p, a {
  font-family: "Fafo", sans-serif;
}

p {
  font-size: 1.2em;
}
/* all children of .hero, center text */
main {
  z-index: 1;
  position: absolute;
}

.hero {
  height: 90vh;
}
.hero > h1 {
  font-size: 4em;
  margin-top: 5em;
  padding: 0;
}
.hero > * {
  text-align: center;
}
.hero-image {
  z-index: -1;
  position: absolute;
  width: 100vw;
}
/* nav is a flexbox with .social icon SVG children, it's pinned to the top left */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.social-icon {
  width: 3em;
  height: 3em;
  /* round corner */
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;

  /* make black and white */
  filter: grayscale(100%);
}
.not-hero {
  z-index: 10;
  background-color: white;
  text-align: center;
  margin-bottom: 4em;
}
.not-hero > img, .info-img {
  width: 100%;
  height: auto;
}


footer {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  text-align: center;
  /* background: rgba(10, 10, 10, 0.8); */
  width: 100vw;
  /* make source code clickable */
  cursor: pointer;
  border-top: rgba(0, 0, 0, 0.2) 1px solid;
}
